<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="TACC-TWELVE APOSTLES CHURCH IN CHRIST">
<meta name="keywords" content="TACC, Twelve, Apostles, Church, Christ, Ceaser, Nongqunga, Prof">
<meta name="author" content="TACC">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title></title>

<!-- =========================
      FAV AND TOUCH ICONS  
========================= -->	
<link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">

<!-- =========================STYLESHEET========================= -->	
<!-- FONT AWESOME -->
<link rel="stylesheet" href="css/font-awesome.min.css">

<!-- FORMSTONE NAVIGATION -->
<link rel="stylesheet" href="css/navigation.css">

<!-- COLORS -->
<link rel="stylesheet" href="css/colors/blue.css"> <!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="css/colors/red.css"> -->
<!-- <link rel="stylesheet" href="css/colors/green.css"> -->
<!-- <link rel="stylesheet" href="css/colors/yellow.css"> -->
<!-- <link rel="stylesheet" href="css/colors/turquoise.css"> -->
<!-- <link rel="stylesheet" href="css/colors/purple.css"> -->
<!-- <link rel="stylesheet" href="css/colors/orange.css"> -->

<!-- CUSTOM STYLESHEET -->
<link rel="stylesheet" href="css/styles.css">



<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">

<!-- Jquery -->
<script src="js/jquery-2.0.3.min.js"></script>

<script>
//make sure that js is enabled
$('html').addClass('js');
</script>

<!--[if IE]>
<style>label {display: block;}</style>
<![endif]-->

</head>
<body>
<!-- =========================PRELOADER========================== -->
<div class="preloader"></div>
<!-- =========================NAVIGATION========================== -->
<nav class="navigation dark-bg">
	<div class="wrapper">
		
		<!-- NAVIGATION HEADER -->
		<div class="navbar-header">
			<!-- LOGO -->
			<a class="navigation-logo" href="#">
				<!--<img src="images/logo.png" alt="logo">-->
			</a>	
		</div>
        	{menu}
		
	</div> <!-- /END WRAPPER -->
</nav>
<!-- =========================HOME========================= -->	
<section class="about" id="about">
	<div class="wrapper">
		<div class="col-12">
    		{content}
		</div>
	</div> <!-- /END WRAPPER -->
</section>
<!-- =========================FOOTER========================= -->	
<footer class="dark-bg">
	<!-- BACK TO TOP -->
	<a class="icon back-to-top" href="index.php"><i class="fa fa-home"></i></a>
	
	<!-- SOCIAL NAVIGATION -->
	<ul class="social-navigation">
		<li><a href="https://www.facebook.com/groups/taccgrp" class="icon"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icon"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icon"><i class="fa fa-behance"></i></a></li>
		<li><a href="#" class="icon"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icon"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="#" class="icon"><i class="fa fa-instagram"></i></a></li>
	</ul>
	
	<!-- COPYRIGHT -->
	<p>
		&copy; 2016 TACC | Made with <i class="fa fa-heart heart"></i> by <a href="http://lumitech.co.za" target="_blank">Lumitech Systems</a>
	</p>
</footer>
<!-- =========================SCRIPTS========================= -->
<!-- Formstone Navigation -->
<script src="js/core.js"></script>
<script src="js/mediaquery.js"></script>
<script src="js/swap.js"></script>
<script src="js/touch.js"></script>
<script src="js/navigation.js"></script>

<!-- Smoothscroll -->
<script src="js/smoothscroll.js"></script>

<!-- Jquery Nav -->
<script src="js/jquery.nav.js"></script>

<!-- ImagesLoaded -->
<script src="js/jquery.imagesloaded.js"></script>

<!-- Wookmark -->
<script src="js/jquery.wookmark.min.js"></script>

<!-- Retina -->
<script src="js/retina.min.js"></script>

<!-- Custom Script -->
<script src="js/custom.js"></script>

</body>
</html>
